In [14]:
import collections
import json
import numpy as np
import pandas as pd
import nltk

from argparse import Namespace

In [15]:

args = Namespace(
    path = "C:/Users/85352/Desktop/python/data/SQuAd/BatchSQuAD",
    train_proportion=0.7,
    val_proportion=0.15,
    test_proportion=0.15,
    output_munged_csv="C:/Users/85352/Desktop/python/data/SQuAd/SQuAD_with_splits_without_title_id.csv",
    seed=1337
)

In [16]:
np.random.seed(args.seed)

In [25]:
QADataset = []

fp = open(args.path+"/batch_{}.json".format(0))
batch = json.load(fp)
for para in batch:
    for par in para['paragraphs']:
        sample = {}
        for question in par['qas']:
            sample['context'] = par['context'].split(" ")
            sample['question'] = question['question'].split(" ")
            sample['answers'] = question['answers']
            sample['is_impossible'] = question['is_impossible']
            QADataset.append(sample)
fp.close()

In [26]:
np.random.shuffle(QADataset)
n = len(QADataset)
n_train = int(args.train_proportion*n)
n_val = int(args.val_proportion*n)
n_test = int(args.test_proportion*n)
    
    # Give data point a split attribute
for sample in QADataset[:n_train]:
    sample['split'] = 'train'
for sample in QADataset[n_train:n_train+n_val]:
    sample['split'] = 'val'
for sample in QADataset[n_train+n_val:]:
    sample['split'] = 'test'

In [27]:
final_dataset = pd.DataFrame(QADataset)

In [28]:
final_dataset.head()

,answers,context,is_impossible,question,split
0,"[{'text': 'human rights concerns', 'answer_sta...","[In, September, 2013,, West, was, widely, rebu...",False,"[For, what, reason, did, Sting, and, other, ar...",train
1,"[{'text': '$3.5 billion', 'answer_start': 236}]","[On, October, 22,, 2007,, Apple, reported, qua...",False,"[With, the, help, of, strong, iPod, sales,, ho...",train
2,"[{'text': 'ISO 10217', 'answer_start': 182}]","[The, International, Organization, for, Standa...",False,"[What, is, the, name, of, the, standard, relat...",train
3,"[{'text': '5.2 years', 'answer_start': 183}]","[The, breed, with, the, shortest, lifespan, (a...",False,"[What, is, the, average, lifespan, for, a, Dog...",train
4,"[{'text': '17', 'answer_start': 631}]","[In, 2001,, she, became, the, first, African-A...",False,"[What, number, was, Beyoncé, on, the, Top, 20,...",test

In [29]:
final_dataset.split.value_counts()

test     9870
val      2931
train    1797
Name: split, dtype: int64

In [30]:
final_dataset.to_csv(args.output_munged_csv, index=False)